
body {

  color: rgb(252, 249, 249);
  background: linear-gradient(180deg, rgba(224,222,230,1) 6%, rgba(141,177,182,1) 42%, rgb(218, 220, 233) 100%);
}

header {
  padding-top: 20px;
  padding-left: 10px;
  margin-top: 4px;
  height: 48px;
  text-align: left;
  background-color: rgb(231, 181, 181);
}

main {
  padding: 20px;
  text-align: center;
  background: rgb(53, 15, 167);
  color: rgb(252, 249, 249);
  margin: 80px;
  height: 180px;
}

.new-line {
  white-space: pre-line;
}

input[type=text] {

  padding: 6px;
  border: none;
  margin-top: 0px;
  margin-right: 16px;
  font-size: 17px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-quote{

}

.quote {
  width: 300px;
  height: auto;
}

